<% content_for :title, "Sense | Movie recomendations on-demand" %>
<div class="color-bg-primary">
  <!-- header -->
  <div class="row">
    <div class="large-8 medium-8 small-11 columns small-centered">
      <h1 class="text-center text-light margin-none editable">Send a text to cut through Netflix clutter and get movie picks truly made for you. &nbsp;Free.</h1>
      {% if page.waitlisted %}
        <a class="margin-t2 text-center text-bigger text-bold text-letterspacing button-small full color-bg-primary-600 margin-none editable" href="#waitlisted">Join the waitlist.</a>
      {% endif %}
      <div class="tablet-up margin-t2">
        <p class="text-center text-bigger text-bold text-letterspacing button-small full color-bg-contrast margin-none editable">Text (213)-297-3673</p>
      </div>
      <div class="mobile-only margin-t2">
        <p class="text-center margin-none text-bigger text-contrast text-letterspacing button-small full color-bg-primary-600 editable">(213)-297-3673</p>
      </div>
      <div class="mobile-only margin-t05">
        <a class="button full color-bg-contrast text-dark text-center text-bold mobile-only editable" href="sms:2132973673&body=Hey Sense, I need a movie!">Get Started</a>
      </div>
    </div>
  </div>
  <!-- end header -->

  <!-- chat -->
  <div class="row margin-t2">
    <div class="large-6 medium-8 small-11 columns small-centered">
      <div class="chat-container">

        <!-- chat one -->
        <div class="chat-inner opacity0 absolute rsWebkit3d" id="blink1">
          <p class="chat chat-right">
            <span class="blink-left" id="typing-indicator-one"></span>
            <span class="blink-left" id="typing-indicator-two"></span>
            <span class="blink-left" id="typing-indicator-three"></span>
          </p>
        </div>
        <div class="chat-inner">
          <!-- <p class="text-center text-light opacity2">Sense</p> -->
          <p class="chat chat-right opacity0 editable" id="message1">I'm looking for a Netflix movie to watch</p>
        </div><br />

        <!-- chat two -->
        <hr style="height:0pt; visibility:hidden; margin:0;" />
        <div class="chat-inner opacity0 absolute rsWebkit3d" id="blink2">
          <p class="chat chat-left">
            <span class="blink-left" id="typing-indicator-one"></span>
            <span class="blink-left" id="typing-indicator-two"></span>
            <span class="blink-left" id="typing-indicator-three"></span>
          </p>
        </div>
        <div class="chat-inner">
          <p class="chat chat-left opacity0 editable" id="message2">
            Sure! What’s a movie you’ve seen and liked recently?
          </p>
        </div>

        <!-- chat three -->
        <hr style="height:0pt; visibility:hidden; margin:0;" />
        <div class="chat-inner opacity0 absolute rsWebkit3d" id="blink3">
          <p class="chat chat-right">
            <span class="blink-left" id="typing-indicator-one"></span>
            <span class="blink-left" id="typing-indicator-two"></span>
            <span class="blink-left" id="typing-indicator-three"></span>
          </p>
        </div>
        <div class="chat-inner">
          <p class="chat chat-right opacity0 editable" id="message3">Wolf of Wall Street cause I liked Jordan Belfort going totally crazy!
          </p>
        </div><br />

        <!-- chat four -->
        <hr style="height:0pt; visibility:hidden; margin:0;" />
        <div class="chat-inner opacity0 absolute rsWebkit3d" id="blink4">
          <p class="chat chat-left">
            <span class="blink-left" id="typing-indicator-one"></span>
            <span class="blink-left" id="typing-indicator-two"></span>
            <span class="blink-left" id="typing-indicator-three"></span>
          </p>
        </div>
        <div class="chat-inner">
          <p class="chat chat-left opacity0 editable" id="message4">Check out Buffalo Soldiers! Phoenix's character has traits similar to Belfort. Here's the <a href="http://bit.ly/buffalosoldiers">trailer</a>.
          </p>
        </div>

        <!-- reply -->
        <div class="chat-inner text-big mobile-only">
          <p class="opacity0 full margin-none-t editable" id="reply1">
            <a href="sms:2132973673&body=Hey Sense, give me a curator!">Reply NOW</a>
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- end chat -->
</div>

<!-- alertantives -->
<div class="padding-t4 padding-b2 color-bg-primary-600">
  <div class="row">
    <div class="large-8 medium-8 small-11 columns small-centered">
      <h4 class="text-bigger text-center text-light margin-none editable">Other options</h4>
        <div class="row padding-t1">
          <div class="small-6 columns editable">
            <a href="http://twitter.com/intent/tweet?text=%23Sensing+my+movie+tonight.+@HeySense,+what's+my+%23Netflix+pick?+" target="_blank" class="button-small color-bg-primary full text-contrast text-center"><i class="fa fa-twitter-square"></i> Tweet</a>
          </div>
          <div class="small-6 columns editable">
            <!-- <a class="button-small color-bg-primary full text-contrast text-center" href="javascript:void(0);" onclick="olark('api.box.expand')">Live chat</a> -->
            <a href="https://jake38.typeform.com/to/kTFrbB" target="_blank" class="typeform-share button-small color-bg-primary full text-contrast text-center" data-mode="2">We'll text you</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
          </div>
        </div>
        <!-- <div class="row padding-t1 mobile-only">
          <div class="small-12 columns editable">
            <a href="http://twitter.com/intent/tweet?text=.@HeySense,+what+should+I+watch+on+@Netflix?+" target="_blank" class="button-small color-bg-primary full text-contrast text-center"><i class="fa fa-twitter-square"></i> Tweet</a>
          </div>
        </div> -->
    </div>
  </div>
</div>
<!-- end alternatives -->

<!-- testimonial -->
<div class="padding-t2 padding-b4 color-bg-primary-600">
  <div class="row">
    <div class="large-8 medium-8 small-12 columns small-centered">
      <h4 class="text-bigger text-light text-center margin-none-t editable">How good are our live Netflix Assistants?</h4>
      <div class="slider">
        <div class="color-bg-primary-500 margin-lr05">
          <blockquote class="text-light">
            Wow. That sounds really great. I need to see that movie! :) You must have encyclopedic movie knowledge to come up with that. Impressive.
            <div class="padding-tb05">
              <i class="fa fa-twitter opacity1"></i><a href="https://twitter.com/peterlada"><cite class="text-opacity1">@peterlada</cite></a>
              <%= image_tag('twitter-thumbnails-1.png')%>
            </div>
          </blockquote>
        </div>
        <div class="color-bg-primary-500 margin-lr05">
          <blockquote class="text-light">
            Looks incredible! Surprised how spot on. Well done!
            <div class="padding-tb05">
              <i class="fa fa-twitter opacity1"></i><a href="https://twitter.com/harrisonlouisy"><cite class="text-opacity1">@HarrisonLouisY</cite></a>
              <%= image_tag('twitter-thumbnails-1.png')%>
            </div>
          </blockquote>
        </div>
        <div class="color-bg-primary-500 margin-lr05">
          <blockquote class="text-light">
            Looks pretty solid! Definitely gonna watch it this weekend
            <div class="padding-tb05">
              <i class="fa fa-twitter opacity1"></i><a href="https://twitter.com/martialen"><cite class="text-opacity1">@martialen</cite></a>
              <%= image_tag('twitter-thumbnails-3.png')%>
            </div>
          </blockquote>
        </div>
        <div class="color-bg-primary-500 margin-lr05">
          <blockquote class="text-light">
            I freaking love Kevin Spacey. Cant wait to watch this!
            <div class="padding-tb05">
              <i class="fa fa-twitter opacity1"></i><a href="https://twitter.com/jnwilson51"><cite class="text-opacity1">@jnwilson51</cite></a>
              <%= image_tag('twitter-thumbnails-4.png')%>
            </div>
          </blockquote>
        </div>
        <div class="color-bg-primary-500 margin-lr05">
          <blockquote class="text-light">
            Made our Sunday night!
            <div class="padding-tb05">
              <i class="fa fa-twitter opacity1"></i><a href="https://twitter.com/TheLeanNews"><cite class="text-opacity1">@TheLeanNews </cite></a>
              <%= image_tag('twitter-thumbnails-5.png')%>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end testimonials -->

<!-- benefits -->
<div class="color-bg-primary">
  <div class="row padding-t3">
    <div class="large-8 medium-8 small-10 columns small-centered">
      <h3 class="text-center text-light margin-none editable">No sifting and sorting through reviews, descriptions and ratings. Just send a few texts.</h3>
      <div class="row padding-t1">
        <div class="large-6 medium-6 small-12 columns text-light">
          <h5 class="margin-none-b text-contrast editable">No Cost</h5>
          <p class="opacity2 margin-none-t editable">
            Everyone has Netflix, right? Your movie decision-maker makes picks only from the movies that Netflix is currently playing. If you have a Netflix account you can watch your Sense picks for free.
          </p>
        </div>
        <div class="large-6 medium-6 small-12 columns text-light">
          <h5 class="margin-none-b text-contrast editable">Hassle Free</h5>
          <p class="opacity2 margin-none-t editable">
            IMDB & Rotten Tomatoes -- the classics.  Normally you’d scour through both sites to get your info and make decisions on your movies.  Sense uses the relevant information from these sites in each and every one of our picks.  So your movie is the only thing in front of your eyes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end benefits -->


<script src="https://waitlisted.co/assets/v2/embed.js" type="text/javascript"></script>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.waitlisted.start({domain: "sense.app.waitlisted.co"})
  });
</script>